{% extends 'base.html' %}

{% block content %}
<div class="content-details">

  <h2>Homepage</h2>
  <p>Hello 
  {% if user.username %}
  	{{ user.username }}!</p>
  	<br>
  	<br>

  	<a href="{% url 'logout' %}">Logout</a>
  {% else %}
  	Guest	
  	<br>
  	<br>
  	<a href="{% url 'login' %}">Login</a>
  {% endif %}
  <a href="{% url 'register' %}">Register</a>
</div>
{% endblock %}

