{% extends 'base.html' %}

{% block content %}
<div class="content-details">

	<form action="{% url 'login' %}" method="POST">
		{% csrf_token %}

		<label>Username : </label>
		<input type='text' name='username' value='' id='username'>

		<label>Password : </label>
		<input type='password' name='password' value='' id='password'>

		<input type='submit' value='login' class="btn btn-primary">
		
	</form>
	<br>
  	<p><strong>-- OR --</strong></p>
	<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
	

	hello
	{% if login %}
		{{ login }}
	{% endif %}
	{% if username %}
		{{ username }}
	{% endif %}

	<br><br>
	<a href="{% url 'home' %}">Home</a>
	<a href="{% url 'register' %}">Register</a>

</div>
{% endblock %}

