{% extends "base.html" %}

{% block content %}
   
    <p>
    	<form action="{% url 'register' %}" method="POST"> 
            {% csrf_token %}

            <label>Email</label>
            <input type="email" name="email">

    		<label>Password</label>
    		<input type="password" name="password1">

    		<label>Confirm Password</label>
    		<input type="password" name="password2">


    		<input class="btn btn-primary" type='submit'  value='Create Account'>
          
    	</form>
        
    </p>

    <p>
        {{message}}
    </p>

    <br><br>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>

{% endblock %}